<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=320,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="shortcut icon" href="/static/images/icon.png">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">

    <title></title>
</head>
<body>
<script>
    if (/mobile/i.test(navigator.userAgent) || /android/i.test(navigator.userAgent))
    {
        document.body.classList.add('mobile');
    }
</script>
<header>
    <nav>
        <input type="checkbox" id="nav-toggle" class="nav-toggle"/>
        <label for="nav-toggle">
                <span class="menu-icon">
                    <svg viewBox="0 0 18 15" width="18px" height="15px">
                        <path fill="white"
                              d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
                        <path fill="white"
                              d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
                        <path fill="white"
                              d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
                   </svg>
              </span>
        </label>
        <a class="title" href="/">码农大陆 World of CodeMonkey</a>
    
        <div class="nav-item">
            <ul class="nav-start">
            <li><a href="/lang" >编程语言</a></li>
            <li><a href="/game"  class="active" >游戏编程</a></li>
            <li><a href="/book" >读书笔记</a></li>
            </ul>
            <ul class="nav-end">
                <li><a href="/about"  >关于</a></li>
                <li><a href="#">捐赠</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <div class="inner">
        
<h1><a name="4-3-预防跨站脚本" class="anchor" href="#4-3-%E9%A2%84%E9%98%B2%E8%B7%A8%E7%AB%99%E8%84%9A%E6%9C%AC" rel="nofollow" aria-hidden="true"><span class="octicon octicon-link"></span></a>4.3 预防跨站脚本</h1>

<p>现在的网站包含大量的动态内容以提高用户体验，比过去要复杂得多。所谓动态内容，就是根据用户环境和需要，Web应用程序能够输出相应的内容。动态站点会受到一种名为“跨站脚本攻击”（Cross Site Scripting, 安全专家们通常将其缩写成 XSS）的威胁，而静态站点则完全不受其影响。</p>

<p>攻击者通常会在有漏洞的程序中插入JavaScript、VBScript、 ActiveX或Flash以欺骗用户。一旦得手，他们可以盗取用户帐户信息，修改用户设置，盗取/污染cookie和植入恶意广告等。</p>

<p>对XSS最佳的防护应该结合以下两种方法：一是验证所有输入数据，有效检测攻击(这个我们前面小节已经有过介绍);另一个是对所有输出数据进行适当的处理，以防止任何已成功注入的脚本在浏览器端运行。</p>

<p>那么Go里面是怎么做这个有效防护的呢？Go的html/template里面带有下面几个函数可以帮你转义</p>

<ul>
<li>func HTMLEscape(w io.Writer, b []byte)  //把b进行转义之后写到w</li>
<li>func HTMLEscapeString(s string) string  //转义s之后返回结果字符串</li>
<li>func HTMLEscaper(args ...interface{}) string //支持多个参数一起转义，返回结果字符串</li>
</ul>

<p>我们看4.1小节的例子</p>

<div class="highlight highlight-Go"><pre>
<span class="n">fmt</span><span class="n">.</span><span class="n">Println</span><span class="n">(</span><span class="s">&#34;username:&#34;</span><span class="n">,</span> <span class="n">template</span><span class="n">.</span><span class="n">HTMLEscapeString</span><span class="n">(</span><span class="n">r</span><span class="n">.</span><span class="n">Form</span><span class="n">.</span><span class="n">Get</span><span class="n">(</span><span class="s">&#34;username&#34;</span><span class="n">)</span><span class="n">)</span><span class="n">)</span> <span class="c">//输出到服务器端</span>
<span class="n">fmt</span><span class="n">.</span><span class="n">Println</span><span class="n">(</span><span class="s">&#34;password:&#34;</span><span class="n">,</span> <span class="n">template</span><span class="n">.</span><span class="n">HTMLEscapeString</span><span class="n">(</span><span class="n">r</span><span class="n">.</span><span class="n">Form</span><span class="n">.</span><span class="n">Get</span><span class="n">(</span><span class="s">&#34;password&#34;</span><span class="n">)</span><span class="n">)</span><span class="n">)</span>
<span class="n">template</span><span class="n">.</span><span class="n">HTMLEscape</span><span class="n">(</span><span class="n">w</span><span class="n">,</span> <span class="n">[</span><span class="n">]</span><span class="n">byte</span><span class="n">(</span><span class="n">r</span><span class="n">.</span><span class="n">Form</span><span class="n">.</span><span class="n">Get</span><span class="n">(</span><span class="s">&#34;username&#34;</span><span class="n">)</span><span class="n">)</span><span class="n">)</span> <span class="c">//输出到客户端</span>
</pre></div>

<p>如果我们输入的username是<code>&lt;script&gt;alert()&lt;/script&gt;</code>,那么我们可以在浏览器上面看到输出如下所示：</p>

<p><img src="/image/moba/4.3.escape.png?raw=true" alt=""></p>

<p>图4.3 Javascript过滤之后的输出</p>

<p>Go的html/template包默认帮你过滤了html标签，但是有时候你只想要输出这个<code>&lt;script&gt;alert()&lt;/script&gt;</code>看起来正常的信息，该怎么处理？请使用text/template。请看下面的例子：</p>

<div class="highlight highlight-Go"><pre>
<span class="k">import</span> <span class="s">&#34;text/template&#34;</span>
<span class="k">...</span>
<span class="n">t</span><span class="n">,</span> <span class="n">err</span> <span class="k">:=</span> <span class="n">template</span><span class="n">.</span><span class="n">New</span><span class="n">(</span><span class="s">&#34;foo&#34;</span><span class="n">)</span><span class="n">.</span><span class="n">Parse</span><span class="n">(</span><span class="s">`{{define &#34;T&#34;}}Hello, {{.}}!{{end}}`</span><span class="n">)</span>
<span class="n">err</span> <span class="k">=</span> <span class="n">t</span><span class="n">.</span><span class="n">ExecuteTemplate</span><span class="n">(</span><span class="n">out</span><span class="n">,</span> <span class="s">&#34;T&#34;</span><span class="n">,</span> <span class="s">&#34;&lt;script&gt;alert(&#39;you have been pwned&#39;)&lt;/script&gt;&#34;</span><span class="n">)</span>
</pre></div>

<p>输出</p>

<pre><code>Hello, &lt;script&gt;alert(&#39;you have been pwned&#39;)&lt;/script&gt;!
</code></pre>

<p>或者使用template.HTML类型</p>

<div class="highlight highlight-Go"><pre>
<span class="k">import</span> <span class="s">&#34;html/template&#34;</span>
<span class="k">...</span>
<span class="n">t</span><span class="n">,</span> <span class="n">err</span> <span class="k">:=</span> <span class="n">template</span><span class="n">.</span><span class="n">New</span><span class="n">(</span><span class="s">&#34;foo&#34;</span><span class="n">)</span><span class="n">.</span><span class="n">Parse</span><span class="n">(</span><span class="s">`{{define &#34;T&#34;}}Hello, {{.}}!{{end}}`</span><span class="n">)</span>
<span class="n">err</span> <span class="k">=</span> <span class="n">t</span><span class="n">.</span><span class="n">ExecuteTemplate</span><span class="n">(</span><span class="n">out</span><span class="n">,</span> <span class="s">&#34;T&#34;</span><span class="n">,</span> <span class="n">template</span><span class="n">.</span><span class="n">HTML</span><span class="n">(</span><span class="s">&#34;&lt;script&gt;alert(&#39;you have been pwned&#39;)&lt;/script&gt;&#34;</span><span class="n">)</span><span class="n">)</span>
</pre></div>

<p>输出</p>

<pre><code>Hello, &lt;script&gt;alert(&#39;you have been pwned&#39;)&lt;/script&gt;!
</code></pre>

<p>转换成<code>template.HTML</code>后，变量的内容也不会被转义</p>

<p>转义的例子：</p>

<div class="highlight highlight-Go"><pre>
<span class="k">import</span> <span class="s">&#34;html/template&#34;</span>
<span class="k">...</span>
<span class="n">t</span><span class="n">,</span> <span class="n">err</span> <span class="k">:=</span> <span class="n">template</span><span class="n">.</span><span class="n">New</span><span class="n">(</span><span class="s">&#34;foo&#34;</span><span class="n">)</span><span class="n">.</span><span class="n">Parse</span><span class="n">(</span><span class="s">`{{define &#34;T&#34;}}Hello, {{.}}!{{end}}`</span><span class="n">)</span>
<span class="n">err</span> <span class="k">=</span> <span class="n">t</span><span class="n">.</span><span class="n">ExecuteTemplate</span><span class="n">(</span><span class="n">out</span><span class="n">,</span> <span class="s">&#34;T&#34;</span><span class="n">,</span> <span class="s">&#34;&lt;script&gt;alert(&#39;you have been pwned&#39;)&lt;/script&gt;&#34;</span><span class="n">)</span>
</pre></div>

<p>转义之后的输出：</p>

<pre><code>Hello, &amp;lt;script&amp;gt;alert(&amp;#39;you have been pwned&amp;#39;)&amp;lt;/script&amp;gt;!
</code></pre>
<h2><a name="links" class="anchor" href="#links" rel="nofollow" aria-hidden="true"><span class="octicon octicon-link"></span></a>
links</h2>

<ul>
<li><a href="preface.md" rel="nofollow">目录</a></li>
<li>上一节: <a href="/game/moba/2" rel="nofollow">验证的输入</a></li>
<li>下一节: <a href="/game/moba/4" rel="nofollow">防止多次递交表单</a></li>
</ul>

</div>
    
        <div id="disqus_thread"></div>
        <script>
            

            

            (function() { 
                var d = document, s = d.createElement('script');
                s.src = 'https://worldofcodemonkey.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    
    </div>
</main>
<footer>
    &copy; Copyright 2018 by 码农大陆 World of CodeMonkey.
</footer>

</body>
</html>
